$grey: #eaeff3;
$fakeblack: #222222;
$pink: #f74462;
body {
  margin: 0;
}
header.main-header, main.site-content, footer#footer {
  padding: 5em;
  // width: 100%;
}
header.main-header {
  background-color: $grey;
}
div.nav-container {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  section.title {
    h2 {
      margin: 0;
    }
  }
  nav {
    div.menu-nav-container {
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
          text-transform: uppercase;
          list-style-type: none;
          padding: 0 1em;
          a {
            text-decoration: none;
            color: $fakeblack;
          }
        }
      }
    }
  }
}

section.slider-section {
  position: relative;
  button {
    position: absolute;
    margin-top: 20%;
    z-index: 5;
    font-size: 2em;
    padding: 1em;
    border: 0;
    background: none;
  }
  button#slider-right {
    right: 0;
  }
  button#slider-left {
    left: 0;
  }
  div.div-slider {
    width: 100%;
    opacity: 0;
    transition: 2s;
    position: absolute;
    height: auto;
    background-color: $grey;
    img.attachment-post-thumbnail {
      width: 50%;
      height: auto;
    }
    div.slider-description {
      position: absolute;
      width: 33%;
      top: 30%;
      left: 45%;
    }
  }
  div.div-slider.active {
    opacity: 1;
  }
}

div.cat-div {
  display: flex;
  justify-content: space-between;
  ul.cat-ul {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      list-style: none;
      padding: 1em 2em;
      a {
        color: $fakeblack;
        text-decoration: none;
      }
    }
  }
}

// product column
ul.products.columns-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  li.product {
    // display: flex;
    // flex-direction: column;
    a {
      display: flex;
      flex-direction: column;
    }
    a.woocommerce-LoopProduct-link {
      position: relative;
      span.onsale {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $pink;
        color: white;
        padding: 0.5em;
      }
    }
  }
}
