$grey: #eeeeee;
$fakeblack: #222222;
body {
  margin: 0;
}
header, main, footer {
  padding: 5em;
}
header {
  background-color: $grey;
  position: absolute;
}
div.nav-container {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  section.title {
    h2 {
      margin: 0;
    }
  }
  nav {
    div.menu-handheld-menu-container {
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
          text-transform: uppercase;
          list-style-type: none;
          padding: 0 1em;
          a {
            text-decoration: none;
            color: $fakeblack;
          }
        }
      }
    }
  }
}

section.slider-section {
  div.div-slider {
    position: relative;
    img.attachment-post-thumbnail {
    }
    div.slider-description {
      position: absolute;
      top: 0;
    }
  }
}
